@import 'tailwindcss/base';
@import 'common/diapo';
@import 'common/slick';
@import 'common/buttons';
@import 'common/facet';
@import 'common/preview';
@import 'common/comments';
@import 'common/user';
@import 'common/newsletter';
@import 'common/pagination';
@import 'common/previous-next-video';
@import 'common/menu';

@import 'header';
@import 'footer';
@import 'home';
@import 'single';
@import 'archive';
@import 'diaporama';

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import  'slick-carousel/slick/slick.css';

.slick-disabled {
    display: none !important;
}

#reply-title {
    display: none;
}

#shows-slider {
    .content {
        transform: translateX(5rem);
        opacity: 0;
        transition: 0.4s ease-out;
    }
    
    .slick-current {
        .content {
            transform: translateX(0%);
            opacity: 1;
        }
    }
}

.live-last-news {
    transition: all ease-in 500ms;
    max-height: calc(100vh - 4rem);
    height: 100vh;
    overflow: hidden;
}

.live-last-news--hidden {
    max-height: 0;
    overflow: hidden;
}


.live-last-news {
    .live-last-news--active {
        display: block;
    }
}

.live-last-news--toggle {
    .live-last-news--toggle-border {
        @apply w-0;
    }

    &.live-last-news--toggle-active {
        .live-last-news--toggle-border {
            @apply w-full;
        }
    }
}

.scrolling-touch { -webkit-overflow-scrolling: touch; scroll-behavior: smooth; }
.scrolling-auto { -webkit-overflow-scrolling: auto; }

.snap-type-mandatory  {
    scroll-snap-type: x mandatory;  
}

.snap-align-start {
    scroll-snap-align: start;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

@media only screen and (min-width: 768px) {
    .live-last-news {
        max-height: 800px;
        height: auto;
    }

    .live-last-news--hidden {
        max-height: 0;
        overflow: hidden;
    }

    .scroll-mobile {
        max-width: inherit !important;
    }
}

.scroll-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-bottom: 0px;
    width: 100%;
    overflow: scroll;
    display: -webkit-box;
    padding-right: .5rem;
    align-items: flex-start;
}

.number-size-1 {
    font-weight: 800;
}

.number-size-2 {
    font-weight: 700;
}

.number-size-3 {
    font-weight: 600;
}

.number-size-4 {
    font-weight: 500;
}

.number-size-5 {
    font-weight: 300;
}

.has-australian-open-background-color {
    background-color: #0088D1;
}

.has-roland-garros-background-color {
    background-color: #EE4400;
}

.has-us-open-background-color {
    background-color: #0C1F86;
}

.has-wimbledon-background-color {
    background-color: #00632A;
}

.has-australian-open--color {
    color: #0088D1;
}

.has-roland-garros--color {
    color: #EE4400;
}

.has-us-open--color {
    color: #0C1F86;
}

.has-wimbledon--color {
    color: #00632A;
}

.user {
    &--major {
        .padding-major {
            @apply pb-12/10;
        }
    }
}

.major-page {
    .user {
        &--major {
            .padding-major {
                @apply pb-16/9 md:pb-12/10;
            }
        }
    }
}

.wpml-menu__list {
    @apply flex mx-2;

    li {
        @apply mx-1;

        .active {
            @apply font-bold;
        }
    }
}

.live-last-news--toggle {

    .pulse {
        background-color: #ff0000;
        border-radius: 50%;
        box-shadow: 0 0 0 rgba(155, 0, 0, 0.6);
        animation: pulseanim 1s infinite;
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%);
        display: none;
    }

    &:hover {
        .pulse {
            animation: none;
        }
    }

    &.live-last-news--experienced {
        .pulse {
            display: none;
        }
    }

    &.live-last-news--not-experienced {
        .pulse {
            display: block;
        }
    }
}


@keyframes pulseanim {
    0% {
        box-shadow: 0 0 0 0 rgba(155, 0, 0, 0.6);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(204,169,44, 0)
    }
    100% {
        box-shadow: 0 0 0 0 rgba(204,169,44, 0)
    }
}

.wpml-ls-current-language {
    @apply font-bold;
}

.wpml-ls-item {
    @apply text-xs;

    a:hover {
        @apply underline;
    }
}