#archive {
    .background-container {
        position: absolute;
        z-index: -1;
        width: 100vw;

        .background  {
            @apply relative h-96 overflow-hidden;
    
            img {
                @apply object-cover w-full h-full -z-1 ;
            }
        }
    }
}