
#footer {
    svg {
        fill: black;
        width: 100%;
        display: block;
    }

    nav {
        ul {
            @apply flex -mx-4;
        }

        li {
            @apply mx-4 underline;
        }
    }
}