.article-container,
.single-videos {
    &--default {
        article {
            @apply md:max-w-article-default;
        }
    }

    .content {
        h2, h3, h4, h5, h6, p, ul {
            @apply mb-6 px-4;
        }

        h2 {
            @apply font-bold uppercase text-2xl mt-10;
        }

        p {
            @apply px-4 pb-4 text-xl;
        }

        ul {
            @apply list-disc text-lg;
        }

        li {
            @apply ml-16;
        }

        p {
            a {
                @apply underline text-gray-700 hover:text-black;
            }
        }

        .video-container {
            @apply  relative h-0 pb-16/9 mb-6;

            .video {
                @apply absolute w-full h-full;
            }
        }
    }
}

.feature {
    .content {
        h1, h2, h3, h4, h5, h6, p, ul {
            @apply max-w-screen-sm m-auto pb-4;
        }

        img  {
            @apply mt-4 mb-8 md:mt-12 md:mb-14;
        }

        blockquote.wp-block-quote {
            @apply mt-36 mb-10 md:mb-20 relative px-4;

            &::before {
                @apply absolute w-20 h-20 -top-4 left-4  transform -translate-y-full bg-contain bg-no-repeat;
                content: "";
                background-image: url(../images/quote.png);
            }

            p, ul{
                @apply max-w-screen-lg uppercase font-bold text-2xl lg:text-5xl not-italic px-0;
            }

            cite {
                @apply not-italic;
            }
        }
    }
}

.video {
    &-header {
        @apply relative;

        &::before {
            content: '';
            @apply absolute top-0 w-full bg-black -z-1;
            height: calc(100% - 4rem);
        }

        &::after {
            content: '';
            @apply absolute w-full bottom-0 bg-gray-200 -z-1;
            height: 4rem;
        }
    }

    .content {
        h1, h2, h3, h4, h5, h6, p, ul {
            @apply max-w-screen-sm m-auto pb-4;
        }

        img  {
            @apply mt-4 mb-8 md:mt-12 md:mb-14;
        }
    }
}

.videos .content .iframe-container {
    display: none;
}

.videos .content .video-container {
    display: none;
}