.facetwp-facet {
    display: contents;

    &.facetwp-facet-video_types {
        @apply relative flex mb-0;
    }
}

.facetwp-radio {
    @apply mx-1 my-0 px-6 py-2 border-white border uppercase font-bold text-xs rounded-3xl transition-all duration-200;
    background-image: none !important;

    &:hover {
        @apply text-black;
        background-color: #f2f2f2;
    }
}

.facetwp-radio.checked {
    background-image: none !important;
    @apply text-black bg-white;
}

.facetwp-counter {
    @apply hidden;
}