.facetwp-facet {
    @apply overflow-x-auto;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: auto;
    scroll-snap-type: x mandatory; 
    width: -webkit-box;
}

.facetwp-radio {
    @apply mx-1 my-0 px-6 py-2 border-white border uppercase font-bold text-xs rounded-3xl w-full max-w-max;
    display: ruby;
    background-image: none !important;
}

.facetwp-radio.checked {
    background-image: none !important;
    @apply text-black bg-white;
}

.facetwp-counter {
    @apply hidden;
}