#menu {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    z-index: 999999999;
    color: white;
    left: 0;
}

.menu-is-active {
    header {
        .logo-container {
            z-index: 99999999999;
            #logo {
                svg {
                    path {
                        fill: white;
                    }
                }
            }
        }

        #burger {
            z-index: 9999999999;

            .burger-bar {
                background-color: white;

                &:first-child {
                    transform: rotate(45deg) translate(0px, 7px);
                    width: 80%;
                }

                &:last-child {
                    transform: rotate(-45deg) translate(1px, -8px);
                    width: 80%;
                }
            }
        }
    }
}

header {
    .menu {
        display: none;
    
        &-container {
            height: calc(100vh - 160px);
        }
    
        &--active {
            display: block;
        }
    
        &__list {
            @apply flex flex-col;
    
            & > .menu-item {
                @apply text-2xl sm:text-5xl font-bold my-3 uppercase transition-opacity duration-200 ease-in-out max-w-full sm:max-w-1/2;
                width: max-content;
    
                &.menu-item--active {
                    @apply opacity-100;

                    & > .sub-menu {
                        @apply sm:opacity-100 sm:z-100 block;
                    }
                }

                &.menu-item--not-active {
                    @apply sm:opacity-10;

                    & > .sub-menu {
                        @apply sm:opacity-0;
                    }
                }
            }
    
            ul.sub-menu {
                @apply pl-6 pt-2 text-sm hidden sm:absolute sm:left-1/2 sm:top-0 sm:pl-40 sm:opacity-0;
    
                li {
                    @apply text-xl sm:text-2xl capitalize mb-2;

                    &.menu-item--top {
                        @apply uppercase font-normal mb-3;
                    }
                }
            }
        }
    }
}

.burger-bar {
    transition: ease 0.2s;
}