.prev-next {
    @apply xl:fixed xl:top-1/2 xl:transform xl:-translate-y-1/2 xl:z-50;

    &--container {
        @apply relative;
    }

    &--arrow {
        @apply hidden xl:block w-14 h-14 bg-black bg-center bg-no-repeat;
    }

    &--prev {
        @apply left-0;

        .prev-next--arrow {
            @apply hidden xl:block;
            background-image: url(../images/arrow-left-white.svg);
        }

        .prev-next--content {
            @apply xl:pl-14 xl:bg-auto;
            background: no-repeat 1rem center/auto url(../images/arrow-left-white.svg) black;
        }

        &.prev-next--hidden {
            .prev-next--content {
                @apply -translate-x-full;
            }
        }
    }

    &--next {
        @apply right-0;

        .prev-next--arrow {
            @apply hidden xl:block;
            background-image: url(../images/arrow-right-white.svg);
        }

        .prev-next--content {
            @apply xl:pr-14 right-0 bg-none xl:bg-auto;
            background: no-repeat 17rem center/auto url(../images/arrow-right-white.svg) black;
        }

        &.prev-next--hidden {
            .prev-next--content {
                @apply translate-x-full;
            }
        }
    }

    &--content {
        @apply xl:absolute xl:w-80 p-4 xl:py-8 bg-black text-white xl:top-1/2 xl:transform xl:-translate-y-1/2 transition ease-in-out duration-300;
    }
}

.prev-next {
    &--prev {
        .prev-next--content {
            background: no-repeat 1rem center/auto url(../images/arrow-left-white.svg) black;
        }
    }

    &--next {
        .prev-next--content {
            background: no-repeat 17rem center/auto url(../images/arrow-right-white.svg) black;
        }
    }
}

@media only screen and (max-width: 1280px) {
    .prev-next--next .prev-next--content {
        background-image: none;
    }

    .prev-next--prev .prev-next--content {
        background-image: none;
    }
}