.slick-list > div {
    margin-left:0;
}

.slick-slide {
margin: 0.35rem;
}

#live-last-news-slider {
    .slick-track {
        margin: auto -1.75rem;
    }

    .slick-slide {
        position: relative;
        padding: 0 2rem;
        margin: 0;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            height: 5rem;
            background-color: #eaeaea;
            z-index: 9999;
            width: 1px;
        }
    }
}